<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="TMServer.ServerConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<TMServer.ServerConfig>
   <setting name="LongPollLifeTimeSeconds" serializeAs="String">
    <value>120</value>
   </setting>
   <setting name="TokenLifetimeHours" serializeAs="String">
    <value>48</value>
   </setting>
   <setting name="RsaKeyLifetimeHours" serializeAs="String">
    <value>48</value>
   </setting>
   <setting name="PasswordSalt" serializeAs="String">
    <value>NySzq6hatK</value>
   </setting>
   <setting name="Version" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="TMDBConnectionString" serializeAs="String">
    <value>Host=localhost;Port=5432;Database=tmdb;Username=tmadmin;Password=1234;Include Error Detail=True;</value>
   </setting>
   <setting name="TMDBFilesConnetctionString" serializeAs="String">
    <value>Host=localhost;Port=5432;Database=tmimagesdb;Username=tmadmin;Password=1234;Include Error Detail=True;</value>
   </setting>
   <setting name="InfoPort" serializeAs="String">
    <value>6660</value>
   </setting>
  </TMServer.ServerConfig>
	</userSettings>
</configuration>